* {
    padding: 0;
    margin: 0;
}

body {
    color: #666
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* 头部 */

.header {
    width: 100%;
    height: 145px;
    background-color: #292440;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.header-logo1 {
    width: 25px;
    height: 20px;
}

.header-logo {
    width: 77px;
    height: 32px;
}

.header h1 {
    font-size: 20px;
    font-weight: 500;
    color: #fff
}

.header-null {
    width: 18px;
    height: 20px;
}

.header-input {
    padding: 0 30px;
    display: flex;
    align-items: stretch;
    margin-top: 20px;
}

.header-input input {
    width: 100%;
    height: 26px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding-left: 10px;
    color: #333;
}

.header-input button {
    width: 50px;
    height: 26px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #fff
}

.header-title {
    margin-top: 20px;
    width: 100%;
    height: 25px;
    padding: 0 30px;
    box-sizing: border-box;
}

.header-title ul {
    display: flex;
    justify-content: space-between
}

.header-title ul li a {
    display: block;
    width: 45px;
    height: 25px;
    /* background-color: #413966; */
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 13px;
}

.active {
    background-color: #413966;
    border-radius: 13px;
}


/* 行情 */

.list {
    width: 100%;
    height: auto;
    border-top: 1px #ededed solid
}

.list-top {
    width: 100%;
    height: 35px;
    border-bottom: 1px #ededed solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-top a {
    color: #111;
    display: flex;
}

.list-top a p {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    margin-top: -2px;
}

.list-top a p i {
    height: 10px;
}

.list a {
    color: none;
}

.list ul li {
    width: 100%;
    height: 55px;
    border-bottom: 1px #ededed solid;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-name {
    display: flex;
    align-items: center
}

.name-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.list-name h2 {
    font-size: 18px;
    font-weight: 500;
    color: #333
}

.list-price {
    display: flex;
    align-items: center;
}

.price-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.price-top {
    color: #bd1c21;
    font-size: 16px;
    font-weight: 600
}

.price-bottom {
    color: #666;
    font-size: 14px;
    display: flex;
    justify-content: flex-end
}

.list-price button {
    width: 76px;
    height: 30px;
    border-radius: 5px;
    background-color: #bd1c21;
    border: none;
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
}


.nav {
    width: 100%;
    height: 50px;
    border-top: 1px #eee solid;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding-top:10px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav ul li {
    text-align: center;
}

.active1 {
    color: #d0121b
}