*{
	margin: 0;
	padding: 0;
}
.con-top{
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 10px;
}
.top-left{
	width: 60%;
	height: auto;
	/*background-color: red;
	*/padding-right: 15px;
}
.top-left input{
	width: 100%;
	height: 40px;
	border:1px solid #eee;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	/*outline: #eee 1px solid;*/
}
.top-left input::placeholder{
	color: #a2a4a3
}
.top-left p{
	color:#a2a4a3;
	margin-bottom: 20px;
}
.top-left button{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	background-color: #ec1e44;
	color:#fff;
}
.top-right{
	width: 40%;
	height: auto;
}
.right-title{
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.right-title p{
	font-size: 10px;
	font-weight: 400;
	color: #a2a4a3
}


.con-bottom{
	width: 100%;
	height: 290px;
	margin-top: 20px;
	display: flex;
}
.bottom-left{
	width: 60%;
	height: auto;
	padding-right: 15px;
}
.bottom-left span{
	font-size: 12px;
	color: #a2a4a3;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}
.buttom-right{
	width: 40%;
}
